@model NewsWebsite.ViewModels.Home.HomePageViewModel
@using NewsWebsite.Common
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ##### Hero Area Start ##### -->
<section class="hero--area section-padding-60">
    @if (Model._news.Count() != 0)
    {
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="tab-content">
                        @{ var i = 1;}
                        @foreach (var item in Model._news)
                        {
                            <div class="tab-pane fade show @(i == 1 ? "active" : "")" id="@("post-" + i)" role="tabpanel" aria-labelledby="@("post-" + i + "-tab")">
                                <!-- Single Feature Post -->
                                <div class="single-feature-post video-post bg-img" style="background-image: url(/newsImage/@item.ImageName);">
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata">@item.NameOfCategories</a>
                                        <a href="single-post.html" class="post-title">@item.Title</a>
                                        <div class="post-meta d-flex float-left">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>@item.NumberOfComment</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> @item.NumberOfVisit</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> @item.NumberOfLike</a>
                                            <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> @item.NumberOfDisLike</a>
                                        </div>
                                    </div>
                                    <span class="video-duration">@item.PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy")</span>
                                </div>
                            </div>
                            i++;
                        }
                    </div>
                </div>
                @{ i = 1;}
                <div class="col-12 col-md-5 col-lg-4">
                    <ul class="nav vizew-nav-tab" role="tablist">
                        @foreach (var item in Model._news)
                        {
                            <li class="nav-item">
                                <a class="nav-link @(i == 1 ? "active" : "")" id="@("post-" + i)" data-toggle="pill" href="@("#post-" + i)" role="tab" aria-controls="@("post-" + i)" aria-selected="true">
                                    <!-- Single Blog Post -->
                                    <div class="single-blog-post style-2 d-flex align-items-center">
                                        <div class="post-thumbnail">
                                            <img src="/newsImage/@item.ImageName" alt="@item.ImageName">
                                        </div>
                                        <div class="post-content">
                                            <h6 class="post-title">@item.Title</h6>
                                            <div class="post-meta d-flex justify-content-between">
                                                <span><i class="fa fa-comments-o" aria-hidden="true"></i>@item.NumberOfComment</span>
                                                <span><i class="fa fa-eye" aria-hidden="true"></i>@item.NumberOfVisit</span>
                                                <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>@item.NumberOfLike</span>
                                                <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>@item.NumberOfDisLike</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            i++;
                        }
                    </ul>
                </div>
            </div>
        </div>

    }

</section>
<!-- ##### Hero Area End ##### -->
<!-- ##### Trending Posts Area Start ##### -->
<section class="trending-posts-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading">
                    <h4>پربازدید ترین خبرهای امروز</h4>
                    <div class="line"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="single-post-area mb-80 border">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="/assets/img/bg-img/11.jpeg" alt="">

                        <!-- Video Duration -->
                        <span class="video-duration">05.03</span>
                    </div>

                    <!-- Post Content -->
                    <div class="post-content clearfix">
                        <a href="#" class="post-cata cata-sm cata-success">ورزشی</a>
                        <a href="single-post.html" class="post-title p-2">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                        <div class="post-meta d-flex float-left pb-1">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 22</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 16</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 15</a>
                            <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 15</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="single-post-area mb-80 border">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="/assets/img/bg-img/11.jpeg" alt="">

                        <!-- Video Duration -->
                        <span class="video-duration">05.03</span>
                    </div>

                    <!-- Post Content -->
                    <div class="post-content clearfix">
                        <a href="#" class="post-cata cata-sm cata-success">ورزشی</a>
                        <a href="single-post.html" class="post-title p-2">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                        <div class="post-meta d-flex float-left pb-1">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 22</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 16</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 15</a>
                            <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 15</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="single-post-area mb-80 border">
                    <!-- Post Thumbnail -->
                    <div class="post-thumbnail">
                        <img src="/assets/img/bg-img/11.jpeg" alt="">

                        <!-- Video Duration -->
                        <span class="video-duration">05.03</span>
                    </div>

                    <!-- Post Content -->
                    <div class="post-content clearfix">
                        <a href="#" class="post-cata cata-sm cata-success">ورزشی</a>
                        <a href="single-post.html" class="post-title p-2">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                        <div class="post-meta d-flex float-left pb-1">
                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 22</a>
                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 16</a>
                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 15</a>
                            <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 15</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Trending Posts Area End ##### -->
<!-- ##### Vizew Post Area Start ##### -->
<section class="vizew-post-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8">
                <div class="all-posts-area">
                    <!-- Section Heading -->
                    <div class="section-heading style-2">
                        <h4> جدیدترین ویدیوها </h4>
                        <div class="line"></div>
                    </div>

                    <!-- Featured Post Slides -->
                    <div class="featured-post-slides owl-carousel mb-30 direction-ltr">
                        <!-- Single Feature Post -->
                        <div class="single-feature-post video-post bg-img" style="background-image: url(/assets/img/bg-img/11.jpeg);">
                            <!-- Play Button -->
                            <a href="video-post.html" class="btn play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>

                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-cata">ورزشی</a>
                                <a href="single-post.html" class="post-title">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان</a>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 25</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 25</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 25</a>
                                </div>
                            </div>

                            <!-- Video Duration -->
                            <span class="video-duration">05.03</span>
                        </div>

                        <!-- Single Feature Post -->
                        <div class="single-feature-post video-post bg-img" style="background-image: url(/assets/img/bg-img/11.jpeg);">
                            <!-- Play Button -->
                            <a href="video-post.html" class="btn play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>

                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-cata">ورزشی</a>
                                <a href="single-post.html" class="post-title">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان</a>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 25</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 25</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 25</a>
                                </div>
                            </div>

                            <!-- Video Duration -->
                            <span class="video-duration">05.03</span>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-12 col-lg-6">
                            <!-- Section Heading -->
                            <div class="section-heading style-2">
                                <h5>جدیدترین اخبار داخلی</h5>
                                <div class="line"></div>
                            </div>

                            <!-- Sports Video Slides -->
                            <div class="sport-video-slides owl-carousel mb-50 direction-ltr">
                                <!-- Single Blog Post -->
                                <div class="single-post-area">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src="/assets/img/bg-img/11.jpeg" alt="">

                                        <!-- Video Duration -->
                                        <span class="video-duration">05.03</span>
                                    </div>

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata cata-sm cata-primary">ورزشی</a>
                                        <a href="single-post.html" class="post-title">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 38</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-area">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src="/assets/img/bg-img/11.jpeg" alt="">

                                        <!-- Video Duration -->
                                        <span class="video-duration">05.03</span>
                                    </div>

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata cata-sm cata-primary">ورزشی</a>
                                        <a href="single-post.html" class="post-title">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 38</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <!-- Section Heading -->
                            <div class="section-heading style-2">
                                <h5>جدیدترین اخبار خارجی</h5>
                                <div class="line"></div>
                            </div>

                            <!-- Business Video Slides -->
                            <div class="business-video-slides owl-carousel mb-50 direction-ltr">
                                <!-- Single Blog Post -->
                                <div class="single-post-area">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src="/assets/img/bg-img/11.jpeg" alt="">

                                        <!-- Video Duration -->
                                        <span class="video-duration">05.03</span>
                                    </div>

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata cata-sm cata-primary">ورزشی</a>
                                        <a href="single-post.html" class="post-title">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 38</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 22</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-post-area">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src="/assets/img/bg-img/11.jpeg" alt="">

                                        <!-- Video Duration -->
                                        <span class="video-duration">05.03</span>
                                    </div>

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="#" class="post-cata cata-sm cata-primary">ورزشی</a>
                                        <a href="single-post.html" class="post-title">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                                            <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 0</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Section Heading -->
                    <div class="section-heading style-2">
                        <h4>آخرین اخبار</h4>
                        <div class="line"></div>
                    </div>
                    @if (Model._news.Count() == 0)
                    {
                        <p class="alert alert-info text-center">هیچ خبری انتشار داده نشده است.</p>
                    }
                    else
                    {
                        @foreach (var item in Model._news)
                        {
                            <!-- Single Post Area -->
                            <div class="single-post-area mb-30">
                                <div class="row align-items-center">
                                    <div class="col-12 col-lg-6">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="/newsImage/@item.ImageName" alt="item.ImageName">
                                            <!-- Video Duration -->
                                            <span class="video-duration">@item.PublishDateTime.Value.ToString("hh:mm")</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <!-- Post Content -->
                                        <div class="post-content mt-0">
                                            <a href="#" class="post-cata cata-sm cata-success">@item.NameOfCategories</a>
                                            <a href="single-post.html" class="post-title mb-2">
                                                @item.Title
                                            </a>
                                            <div class="post-meta d-flex align-items-center mb-2">
                                                <a href="#" class="post-author">@item.AuthorName</a>
                                                <i class="fa fa-circle" aria-hidden="true"></i>
                                                <a href="/@item.NewsId/@item.Url" class="post-date">@item.PublishDateTime.ConvertMiladiToShamsi("dd MMMM yyyy")</a>
                                            </div>
                                            <p class="mb-2">
                                                @item.Abstract
                                            </p>
                                            <div class="post-meta d-flex float-left">
                                                <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>@item.NumberOfComment</a>
                                                <a href="#"><i class="fa fa-eye" aria-hidden="true"></i>@item.NumberOfVisit</a>
                                                <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>@item.NumberOfLike</a>
                                                <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i>@item.NumberOfDisLike</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                </div>
            </div>

            <div class="col-12 col-md-5 col-lg-4">
                <div class="sidebar-area">

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget border latest-video-widget mb-50">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>محبوب ترین اخبار</h4>
                            <div class="line"></div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-post-area mb-30">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                                <img src="/assets/img/bg-img/13.jpg" alt="">

                                <!-- Video Duration -->
                                <span class="video-duration">05.03</span>
                            </div>

                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="#" class="post-cata cata-sm cata-success">Sports</a>
                                <a href="single-post.html" class="post-title">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                                <div class="post-meta d-flex">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 0</a>
                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">
                                <img src="/assets/img/bg-img/1.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                                <div class="post-meta d-flex justify-content-between">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 29</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 08</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 23</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">
                                <img src="/assets/img/bg-img/1.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                                <div class="post-meta d-flex justify-content-between">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 0</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">
                                <img src="/assets/img/bg-img/1.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                                <div class="post-meta d-flex justify-content-between">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 29</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 08</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 23</a>
                                </div>
                            </div>
                        </div>
                        <div class="single-blog-post d-flex">
                            <div class="post-thumbnail">
                                <img src="/assets/img/bg-img/1.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a href="single-post.html" class="post-title">شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی از سرخپوشان </a>
                                <div class="post-meta d-flex justify-content-between">
                                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 32</a>
                                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 42</a>
                                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 7</a>
                                    <a href="#"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 9</a>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget newsletter-widget mb-4 border">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>عضویت در خبرنامه</h4>
                            <div class="line"></div>
                        </div>
                        <p>جهت دریافت جدیدترین اخبار ایمیل خود را وارد کنید.</p>
                        <!-- Newsletter Form -->
                        <div class="newsletter-form">
                            <form action="#" method="post">
                                <input type="email" name="nl-email" class="form-control mb-15" id="emailnl" placeholder="ایمیل خود را وارد کنید">
                                <button type="submit" class="btn vizew-btn w-100">عضویت</button>
                            </form>
                        </div>
                    </div>

                    <!-- ***** Single Widget ***** -->
                    <div class="single-widget mb-50 border ligh">
                        <!-- Section Heading -->
                        <div class="section-heading style-2 mb-30">
                            <h4>پر بحث ترین اخبار</h4>
                            <div class="line"></div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 ">
                                    <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">روز</a>
                                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">هفته</a>
                                            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">ماه</a>
                                        </div>
                                    </nav>
                                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/1.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/2.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/36.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/37.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/38.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/1.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/2.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/36.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/37.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/38.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/1.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/2.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/36.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/37.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Single Blog Post -->
                                            <div class="single-blog-post d-flex">
                                                <div class="post-thumbnail">
                                                    <img src="/assets/img/bg-img/38.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <a href="single-post.html" class="post-title">
                                                        ورزشی
                                                        شوک دوم به پرسپولیس/ بیرانوند در آستانه جدایی ...
                                                    </a>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!-- ##### Vizew Psot Area End ##### -->
